.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
inst/doc
dev_scripts
test_output
docs/articles/*.csv
docs/articles/articles/*.csv
docs/paper.html
vignettes/*.csv
vignettes/*.zip

*.rds
*.icloud
/doc/
/Meta/
