body {
    background-color: #fff;
    color: #333;
}

.navbar-default {
  background-color: #fbfbfb;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #ababab;
}

